body {
    font-family: 'Barlow', sans-serif;
    background-color: #e1eed1;
    color: #444;
  }
  
  header {
    background-color: #8f9779;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
    list-style: none;
  }
  
  nav a {
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin-top: 0px;
    padding: 20px;
  }
  
  article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: justify;
  }
  
  article h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  article p {
    line-height: 1.5;
  }
  
  .contact-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contact-content {
    flex: 1;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #8f9779;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .welcome {
    position: relative;
  }
  
  .welcome img {
    display: block;
    width: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 30px;
  }
  
  .overlay h2 {
    font-size: 3rem;
    margin: 0;
  }
  
  .overlay p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .events {
    text-align: center;
  }
  
  .events h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .events h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .events ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .events li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: justify;
  }
  
  .events li h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .events li p {
    line-height: 1.5;
  }
  
  .events li img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .events li a {
    background-color: #8f9779;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .events li a:hover {
    background-color: #6c7357;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .places-to-visit {
    margin-top: 1px;
  }
  
  .places-to-visit h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .places-to-visit ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .places-to-visit li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    text-align: justify;
  }
  
  .places-to-visit li h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .places-to-visit li p {
    line-height: 1.5;
  }
  
  .places-to-visit li a {
    background-color: #8f9779;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .places-to-visit li a:hover {
    background-color: #6c7357;
  }
  
  .places-to-visit li img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .about h2 {
    text-align: center;
    font-size: 40px;
  }
  
  .about h1 {
    text-align: center;
    font-size: 48px;
  }
  
  .btn {
    display: block;
    margin: 0 auto;
    background-color: #8f9779;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #6c7357;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 600px) {
    /* Styles for screens up to 600px wide */
    
    header {
      padding: 10px 0;
    }
    
    nav ul {
      justify-content: center;
      margin-right: 0;
    }
    
    main {
      padding: 10px;
    }
    
    article {
      max-width: 100%;
      margin: 10px;
    }
    
    .overlay {
      padding: 20px;
    }
    
    .events li,
    .places-to-visit li {
      max-width: 100%;
      margin: 10px;
    }
    
    .about h2 {
      font-size: 24px;
    }
    
    .about h1 {
      font-size: 32px;
    }
  }
  